include header.pug

html
  head 
    title Prodotti richiesti
  - var valore
  table
    tr
      th Id
      th Sezione 
      th Marca 
      th Nome 
    tbody
      each val in dataDel
        - valore=val.id
        tr
          td=val.id
          td=val.sezione
          td=val.marca
          td=val.nome
  form(action = "/deleteFind" method = "POST")
    button(type = "submit" name = "btnElimina") Elimina
    button(type = "submit" name = "indietro") Torna alla Home
    input(type = "hidden" name = "input" value = valore)